# maven ignore
target/
test-output
temp
*.jar
*.war
*.zip
*.tar
*.tar.gz
classes/
WEB-INF/lib/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
logs/

# spring ide
.springBeans
.externalToolBuilders